@import "src/base-styling/colors";
@import "src/base-styling/vars";

@mixin buttonColor($btn-color) {
  border: 2px solid $btn-color;
  background-color: $btn-color;

  &:hover,&.submitting {
    $hover-color: desaturate(darken($btn-color, 12%), 25%);
    background-color: $hover-color;
    border-color: $hover-color;
  }

  &.secondary {
    color: $btn-color;
  }
}

.button {
  outline: 0;

  padding: $button-normal-padding;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: $white;
  line-height: $button-line-height;
  border-radius: $button-border-radius;
  min-width: 100px;
  cursor: pointer;
  position: relative;
  transition: background-color .4s, border-color .4s;

  @include buttonColor($blue);

  &.red {
    @include buttonColor($red);
  }

  &:focus {
    border-color: $black;
  }

  &:disabled:not(.submitting):not(.success):not(.error) {
    cursor: default;
    background-color: $grey;
    color: $mid-grey;
    border-color: $grey;
  }

  &.small {
    padding: $button-small-padding;
  }

  &.secondary {
    background-color: transparent;
  }

  &.submitting, &.success, &.error {
    color: transparent;
    cursor: default;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      fill: white;
      animation: pulse 0.3s linear 1;
    }
  }

  &.submitting::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translateX(-50%) translateY(-50%);

    border: 3px solid rgba(255, 255, 255, .35);
    border-right: 3px solid white;
    border-radius: 50%;
    animation: rotate .8s linear infinite;
  }

  &.small.submitting::before {
    width: 16px;
    height: 16px;
    border-width: 2px;
  }

  &.success {
    background-color: $green;
    border-color: $green;
  }

  &.error {
    background-color: $red;
    border-color: $red;
  }
}

@keyframes rotate {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

@keyframes pulse {
  25%{
    transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
  75% {
    transform: translateX(-50%) translateY(-50%) scale(1.3);
  }
}