/* Header */

$header-height: 80px;

/* Sidebar */

$sidebar-width: 250px;
$sidebar-bg-color: #363740;

/* Sidebar nav */

$nav-item-height: 56px;
$nav-item-text-color: white;
$nav-item-bgc--hover: rgba(#9FA2B4, 0.2);
$nav-item-border-color--active: #8C8FA1;