@import "src/base/vars";

.field {
  display: flex;
  flex-direction: column;
  width: 300px;

  label {
    padding: 2px 0;
  }

  input {
    display: block;
    border: none;
    outline: none;

    padding: $field-padding;
    border: $field-border;
    border-radius: $field-border-radius;
    background-color: $field-bg;
  }

  .error-spacing {
    min-height: 20px;
  }

  .error-message {
    display: block;
    color: $field-error-color;
    font-size: $field-error-text-size;
    line-height: $field-error-text-size;
  }

  &.error {
    input {
      border: $field-border--error;
    }
  }
}