@import "src/base-styling/colors";
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  color: $primary-text;
  background-color: #F7F9FB;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin: 10px 0
}

$placeholder-color: $mid-grey;
*::-webkit-input-placeholder {
  color: $placeholder-color;
}
*:-moz-placeholder {
  /* FF 4-18 */
  color: $placeholder-color;
  opacity: 1;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: $placeholder-color;
  opacity: 1;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: $placeholder-color;
}
*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $placeholder-color;
}
*::placeholder {
  /* modern browser */
  color: $placeholder-color;
}