@import "src/base-styling/colors";
@import "src/base-styling/vars";

$page-header-height: 70px;

.pageContainer {
  width: 100%;
  height: calc(100% - #{$page-header-height});
  max-width: 1200px;
  margin: 0 auto;

  .pageHeader {
    height: 70px;

    h1 {
      margin: 0;
      line-height: 70px;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .pageContentWrapper {
    background-color: $white;
    height: 100%;
    min-height: 600px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.16);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.16);
  }
}