$parent-bg: #F5F6F8;
$text-color: #252733;
$icon-color: #C5C7CD;
$btn-text-color: #4B506D;





$primary: #4669dd;
$secondary: #a355e4;
$success: #37ac3c;
$warning: #d38c3a;
$error: #df4d4d;

$colorMap: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "warning": $warning,
  "error": $error
)