@import "src/base-styling/vars";

.sheet {
  background-color: $sheet-bg;
  border: $sheet-border;
  border-radius: $sheet-border-radius;
}

.sheet__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $sheet-padding;
}

.sheet__content {
  margin: $sheet-padding;
}