@import "src/base-styling/vars";

.sidebar__wrapper {
  background-color: $sidebar-bg-color;
  height: 100%;

  .sidebar__header {
    height: $header-height;
    font-size: 2em;
    text-align: center;
    color: white;
    padding: 22px;
  }
}
