$primary-text: #414550;
$secondary-text: #6B7284;
$white: #FFFFFF;
$black: #333333;
$mid-grey: #BBBBBB;
$grey: #EEEEEE;
$blue: #507EF5;
$red: #E74C3C;
$green: #40BF76;
$orange: #ff9f43;

$border-grey: #EAECEF;