@import "src/base-styling/colors";

.pageError {
  width: 450px;
  padding-top: 120px;
  margin: 0 auto;

  h1 {
    margin: 0;
    font-size: 48px;
  }

  h2 {
    margin: 10px 0;
    font-size: 24px;
    color: $secondary-text;
  }
}

.whatNext {
  font-size: 18px;

  p {
    margin-top: 32px;
    margin-bottom: 14px;
  }

  ul {
    margin: 0;
    padding-left: 30px;
    list-style: disc;
  }

  a {
    color: $blue;
  }
}

.details {
  margin-top: 20px;
  text-align: center;
  background-color: $grey;

  button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 1em;
    cursor: pointer;
  }

  p {
    padding: 8px 16px;
    margin: 5px 0 0;
    text-align: left;
  }
}