table {
  width: 100%;

  thead {
    color: #8C8FA1;
  }

  tbody {
    color: #252733;
  }

  td, th {
    text-align: left;
    padding: 6px 20px;
    border-bottom: 1px solid #DFE0EB;

    &.money {
      text-align: right;
      width: 120px;

      &.in {
        color: green;
      }

      &.out {
        color: red;
      }
    }

    p {
      margin: 0;

      &:last-child {
        color: #8C8FA1;
      }
    }
  }

  td.money {
    &::before {
      content: "€ ";
    }
  }
}