@import "~@fyley/ui-lib/src/base-styling/colors";

$header-height: 60px;

.header {
  height: $header-height;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #FAFBFC;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  top: 0;
  position: fixed;

  .logo, .clear {
    flex: 1 1 0;
  }

  .logo {
    margin: 0;
    letter-spacing: 4.3px;
    padding: 15px 30px;
    font-size: 24px;

    a {
      text-decoration: none;
      color: $primary-text;
    }
  }
}