@import "~@fyley/ui-lib/src/base-styling/colors";

.heading {
  font-size: 20px;
}

.description {
  color: $secondary-text;
  font-size: 16px;
}

.formWrapper {
  margin: 100px auto 0;
  width: 460px;
}